<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Usines</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Adresse</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @usines.each do |usine| %>
        <tr>
          <td><%= usine.name %></td>
          <td><%= usine.address %>, <%= usine.zip %>, <%= usine.city %>, <%= usine.country %></td>
          <td><%= usine.description %></td>
          <td><%= link_to 'Show', usine %></td>
          <td><%= link_to 'Edit', edit_usine_path(usine) %></td>
          <td><%= link_to 'Destroy', usine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Usine', new_usine_path %>
</div>
