<!DOCTYPE html>
<html>
  <head>

  <title>Elum Energy</title>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="5+fWBa8JVHvXKcwPKdsVwOKxHsvGZT4+cpW4O1g5U/e6l1SYm8PZkWLABj0B+gwsjsBFpvyHYEPXq0D3ly9uYQ==" />
  <meta name="action-cable-url" content="/cable" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" media="all" href="/assets/application-b239a8294139cc3584448670daca4650b4f4594d7927194e7e6ef055fc37e4ac.css" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
